<%- include('../register'); -%>

<form method="POST" action="/user?_method=DELETE">
  <h2>Create an Account</h2>
 
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="Email Address" autocomplete="on">
  <label for="password">Password</label>
  <input type="password" name="pwd" placeholder="password" autocomplete="current-password">
  <!-- <input type="password" name="cpwd" placeholder="Confirm Password" autocomplete="current-password"> -->
  <a href="./homepage.html"><button type="submit" class="btn btn-success">Log In</button></a>
  <p class="signup">Already have an account?<a href="#" onclick="toggleForm();">Sign Up</a></p>
</form>

    <%- include('../register'); -%>

<script>
  const form = document.querySelector('form');
  form.addEventListener('Log In', async (e) => {
    e.preventDefault();
    // get values
    const email = form.email.value;
    const password = form.password.value;
    console.log(email,password);
  });
</script>
